# Node
node_modules/
package-lock.json
.env
.env.local
npm-debug.log*

# macOS / Xcode
.DS_Store
ios/build/
ios/DerivedData/
ios/**/xcuserdata/
ios/**/*.xcuserstate
ios/**/*.xcuserdatad/
ios/**/.swiftpm/
ios/Pods/
ios/Carthage/

# Swift Package Manager
.build/
*.xcodeproj/project.xcworkspace/xcuserdata
